name: DailyTests

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

jobs:
  run-daily-tests:
    runs-on: ubuntu-24.04

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: Build the Docker image
        run: |
          docker build -t local-maps .

      - name: Install zimtools
        run: |
          wget -qO- https://download.openzim.org/release/zim-tools/zim-tools_linux-x86_64.tar.gz | tar xvz
          mv zim-tools_linux-x86_64-*/zim* /usr/local/bin/

      - name: Run scraper
        run: docker run -v $PWD/output:/output local-maps maps2zim --area monaco --name maps_en_test --title "Maps Test" --description "Test ZIM for maps" --file-name "tests_en_maps" --default-view=43.74,7.43,13

      - name: archive ZIM
        uses: actions/upload-artifact@v6
        with:
          name: tests_en_maps.zim
          path: output/tests_en_maps.zim
          retention-days: 30

      - name: Run zimcheck
        run: zimcheck $PWD/output/tests_en_maps.zim

      - name: Run integration test suite
        run: docker run -v $PWD/scraper/tests-integration:/src/scraper/tests-integration -v $PWD/output:/output -e ZIM_FILE_PATH=/output/tests_en_maps.zim local-maps bash -c "pip install pytest; pytest -v /src/scraper/tests-integration"
